/P3DX_Controller-B_Cu.gbr
/P3DX_Controller-B_Mask.gbr
/P3DX_Controller-B_Paste.gbr
/P3DX_Controller-B_Silkscreen.gbr
/P3DX_Controller-Edge_Cuts.gbr
/P3DX_Controller-F_Cu.gbr
/P3DX_Controller-F_Mask.gbr
/P3DX_Controller-F_Paste.gbr
/P3DX_Controller-F_Silkscreen.gbr
/P3DX_Controller-NPTH.drl
/P3DX_Controller-PTH.drl
/P3DX_Controller-job.gbrjob
/P3DX_Controller.zip
